.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box___2Cj6 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box___2Cj6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box___2Cj6 > :global(.__wab_flex-container) > *,
.box___2Cj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.box__lTmQ7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__lTmQ7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__lTmQ7 > :global(.__wab_flex-container) > *,
.box__lTmQ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lTmQ7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lTmQ7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lTmQ7 > :global(.__wab_flex-container) > *,
  .box__lTmQ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box__qkTRa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__qkTRa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__qkTRa > :global(.__wab_flex-container) > *,
.box__qkTRa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qkTRa {
    width: 100%;
    min-width: 0;
  }
}
.box__b8T17 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}
.box__dNjZl {
  position: relative;
  text-align: left;
}
.bullet__yUjT1:global(.__wab_instance) {
  position: relative;
}
.bullet__wIg2K:global(.__wab_instance) {
  position: relative;
}
.bullet___7Uyh7:global(.__wab_instance) {
  position: relative;
}
.box__py7KQ {
  position: relative;
  text-align: left;
}
.box___681Bv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___681Bv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___681Bv > :global(.__wab_flex-container) > *,
.box___681Bv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.box__t1OB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__t1OB {
    width: 100%;
    min-width: 0;
  }
}
.img__rc8Sz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yLgBe {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
