.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___1RJtN {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: Z-rh8DFKVewJ3j */;
}
.box__oNjO {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__oNjO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__oNjO > :global(.__wab_flex-container) > *,
.box__oNjO > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oNjO {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oNjO > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__oNjO > :global(.__wab_flex-container) > *,
  .box__oNjO > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__pRj0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__pRj0L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__pRj0L > :global(.__wab_flex-container) > *,
.box__pRj0L > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__cXUcY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__e2J5 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__i75Lw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__nSiT {
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__nSiT:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__sUQpK {
  position: relative;
}
.link__ycPaK {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__ycPaK:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__zPpBr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__zPpBr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__zPpBr > :global(.__wab_flex-container) > *,
.box__zPpBr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zPpBr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zPpBr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__zPpBr > :global(.__wab_flex-container) > *,
  .box__zPpBr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box___1Laax {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box___1Laax > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box___1Laax > :global(.__wab_flex-container) > *,
.box___1Laax > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__zWfha {
  position: relative;
  font-weight: 700;
}
.link___9Vg3I {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link___9Vg3I:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vUqBw {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__vUqBw:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wEWi {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__wEWi:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__lDiPf {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__lDiPf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__um1EW {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__um1EW:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__vy274 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__vy274 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__vy274 > :global(.__wab_flex-container) > *,
.box__vy274 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__nR1G {
  position: relative;
  font-weight: 700;
}
.link__jxMna {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__jxMna:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__veUl5 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__veUl5:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__oat8X {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__oat8X:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hsz72 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__hsz72:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___2Jf0Q {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link___2Jf0Q:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__a5FlT {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__a5FlT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__a5FlT > :global(.__wab_flex-container) > *,
.box__a5FlT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__nqmjb {
  position: relative;
  font-weight: 700;
}
.link__b5K7O {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__b5K7O:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__xYO7 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__xYO7:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dgyDk {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__dgyDk:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fomt1 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__fomt1:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___1T0X3 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link___1T0X3:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__vGo11 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__vGo11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__vGo11 > :global(.__wab_flex-container) > *,
.box__vGo11 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__jDebA {
  position: relative;
  font-weight: 700;
}
.box__obIbb {
  position: relative;
}
.box__gq5Op {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__lq1Q {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: Z-rh8DFKVewJ3j */;
}
.box__nmiwK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nmiwK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nmiwK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nmiwK > :global(.__wab_flex-container) > *,
  .box__nmiwK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__iepk0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__u6SW7 {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
  height: auto;
}
.root .link__u6SW7:hover {
  text-decoration-line: underline;
}
.link__aCoqe {
  position: relative;
  color: #535353 /* plasmic-token: vLjCa9Vq983Ptr */;
}
.root .link__aCoqe:hover {
  text-decoration-line: underline;
}
.box__gLfzj {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box___4ZfcK {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___4ZfcK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___4ZfcK > :global(.__wab_flex-container) > *,
.box___4ZfcK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__sUcUg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__h3Yxj {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__h3Yxj:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__xdYtT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yi1Xq {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__yi1Xq:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__cZtv7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__g32G {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__g32G:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
